USE [BNE]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 29/03/2021 07:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_PRODUTO] [numeric](18, 0) NULL,
	[ID_USUARIO] [numeric](18, 0) NULL,
	[QUANTIDADE] [numeric](18, 0) NULL,
	[EMAIL_ENVIADO] [varchar](3) NULL,
	[ATIVO] [varchar](3) NULL,
	[DELETED] [varchar](3) NULL,
	[DATA_CAD] [datetime] NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 29/03/2021 07:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[VALOR] [numeric](18, 2) NULL,
	[ATIVO] [varchar](3) NULL,
	[DELETED] [varchar](3) NULL,
	[DATA_CAD] [datetime] NULL,
 CONSTRAINT [PK_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACAO]    Script Date: 29/03/2021 07:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACAO](
	[ID] [numeric](18, 0) NOT NULL,
	[DATA] [date] NULL,
	[TIPO] [varchar](50) NULL,
	[ID_CENTRO_CUSTO] [numeric](18, 0) NULL,
	[REFERENCIA] [varchar](100) NULL,
	[DESCRICAO] [varchar](100) NULL,
	[ID_FORMA_PGTO] [numeric](18, 0) NULL,
	[ID_CONTA] [numeric](18, 0) NULL,
	[OBS] [varchar](100) NULL,
	[VALOR] [numeric](18, 2) NULL,
	[ENTRADA] [numeric](18, 2) NULL,
	[SAIDA] [numeric](18, 2) NULL,
	[DATA_CAD] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 29/03/2021 07:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[EMAIL] [varchar](250) NOT NULL,
	[SENHA] [varchar](250) NOT NULL,
	[DATA_NASCIMENTO] [date] NOT NULL,
	[DELETED] [varchar](1) NULL,
	[DATA_CAD] [datetime] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  CONSTRAINT [DF_PEDIDOS_EMAIL_ENVIADO]  DEFAULT ('NAO') FOR [EMAIL_ENVIADO]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  CONSTRAINT [DF_PEDIDOS_ATIVO]  DEFAULT ('SIM') FOR [ATIVO]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  CONSTRAINT [DF_PEDIDOS_DELETED]  DEFAULT ('NAO') FOR [DELETED]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  CONSTRAINT [DF_PEDIDOS_DATA_CAD]  DEFAULT (getdate()) FOR [DATA_CAD]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF_PRODUTOS_ATIVO]  DEFAULT ('SIM') FOR [ATIVO]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF_PRODUTOS_DELETED]  DEFAULT ('NAO') FOR [DELETED]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF_PRODUTOS_DATA_CAD]  DEFAULT (getdate()) FOR [DATA_CAD]
GO
