@{
    ViewData["Title"] = "Sobre";
}
<style>
    body {
        background-color: #FFFFFF;
    }
</style>
@*<style>
    body {
        background-image: url('../../images/Bg.png')
    }
</style>*@
<div class="container" style="background-color:rgba(239,239,239,0.95); border-radius:10px; padding:20px;width:600px;">

    <h2>@ViewData["Title"]</h2>
    <div>
        <h3>Sistema desenvolvido por DETECT AUTOMAÇÃO</h3>
    </div>
    <div>
        <h4><img src="~/images/fone2.png" alt="">Fone   : 51 98505.2570</h4>
    </div>
    <div>
        <h4><img src="~/images/whats.png" alt="">Whats  : 51 99811.1958</h4>
    </div>
    <div>
        <h4><img src="~/images/email.png" alt=""> Emails : </h4>
    </div>    
        <h4>           <img src="~/images/novamensagem.png" alt=""> detect.automacao@outlook.com</h4>
        <h4>           <img src="~/images/novamensagem.png" alt=""> marcohahn@outlook.com</h4>
        <h4>           <img src="~/images/novamensagem.png" alt=""> marcohahn@ig.com.br</h4>
        <h4>           <img src="~/images/novamensagem.png" alt=""> marcohahnsantos@gmail.com.br</h4>
    </div>
