@{
    ViewData["Title"] = "Contato";
}
@*<style>
    body {
        background-image: url('../../images/Bg.png')
    }
</style>*@
<style>
    body {
        background-color: #FFFFFF;
    }
</style>
<div class="container" style="background-color:rgba(239,239,239,0.95); border-radius:10px; padding:20px;width:400px;">

    <h2>@ViewData["Title"]</h2>
    <img src="~/images/logomaster.png" alt="">

    <address>
        <br />
        Endereço: BR-116, Km 301<br />
        Bom Fim, Guaíba- RS<br />
        Cep : 92500-000<br />
        <abbr title="Telefone">Telefone : </abbr>
        (51)3225-0664
    </address>

    <address>
        <strong>Email :</strong> <a href="mailto:adm@masterflake.com">adm@masterflake.com</a><br />
    </address>
</div>