
@{
    ViewData["Title"] = "Menu";
}

<style>
    body {
        background-color: #ffffff;
    }
</style>

<div class="container" style="background-color:rgba(239,239,239,0.95); border-radius:10px; padding:10px;width:1000px;">

    <p>
    <p>
        <br />
        <br />
        <div class="row">
            
            <a href="../Produtos/Index">
                <div class="col-lg-4 text-center">
                    <img src="~/images/produto.png" with="20%" />
                    <h3>Produtos</h3>
                </div>
            </a>
            <a href="../Pedidos/Index">
                <div class="col-lg-4 text-center">
                    <img src="~/images/pagamento.png" with="20%" />
                    <h3>Fazer Pedido</h3>
                </div>
            </a>
        </div>
    
</div>